@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color:black;
}
.content{
    margin: 10%;
    background-color: white;
    padding: 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}

#image{
    border-radius: 100%;
    opacity: 0.8;
    height: 100% ;
    padding: 0.5rem 3rem;
}

.signin-text{
    font-style: normal;
    font-weight: 600 !important;
    margin-top: 5rem;

}

.form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: orange !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: orange;
    height: auto;
    background-color:white;
    background-clip: padding-box;
    border-radius: 0;

}

.form-control:focus{
    color: orange;
    background-color: white;
    border-color: white;
    outline: 0;
    box-shadow: none;
}

.btn-class{
    border-color: orange;
    color: black;
    background-color: white;
}

.btn-class:hover{
    background-color: orange;
    color:white;
}