@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat' !important;
}

img {
	width: 95px;
	height: 75px;
}
figure {
	display: inline-flex;
	flex-direction: column;
	margin: 0 5px 0 5px;
}
.images-display {
	margin-top: .5em;
}

.container {
	margin: auto;
	margin-top: 5em;
	margin-bottom: 5em;
	max-width: 900px;
	width: 100%;
	background-color: #fff;
	padding: 25px 30px;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	justify-content: center;
}

.container .title {
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.container .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 3px;
	width: 200px;
	border-radius: 5px;
	background: linear-gradient(135deg, #fda635, #e7e7e7);
}

.container form .product-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}
form .product-details .input-box,
select {
	margin-bottom: 25px;
	width: calc(100% / 2 - 20px);
}

.product-details .input-box input,
select {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
	margin-top: 0.3em;
}

.input-box textarea {
	margin-top: 0.5em;
	border-radius: 15px;
	border: 1px solid #ccc;
}

.input-box textarea:focus {
	border-color: #fda635;
	outline: none !important;
}

.wrap {
	margin-top: 1em;
}

.product-details .input-box input:focus {
	border-color: #fda635;
}

form .button input {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	letter-spacing: 5px;
	cursor: pointer;
	background: linear-gradient(135deg, #fda635, #e7e7e7);
	padding: 0.1em;
	border: 1px solid #e7e7e7;
}
form .button input:hover {
	/* transform: scale(0.99); */
	background: linear-gradient(-135deg, #fda635, #e7e7e7);
}
