@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*
* {
    margin: 0;
    padding: 0;
}
/*
html {
    box-sizing: border-box;
    font-size: 50%;
}
*/
.articleCardsContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.ArticleContainer {
    position: relative;
    width: 70rem;
    height: 32rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    align-items: start; 
}

.card-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 4px 4px 8px 0.1px #949494;
    cursor: pointer;
    transition: 0.2s;
}

.card-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 2rem 2rem #949494;
}

.card-img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content {
    padding: 1.3rem;
    padding-top: 5px;
}

.card-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 13px;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 2rem;
}

.card-btnn {
    padding: 10px;
    padding-top: 5px;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1.3rem;
    font-size: 19px;
    text-align: center;
    color: #edf0f1;
    font-weight: bold;
    background-color: rgb(248, 185, 48);
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.card-btn span {
    margin-left: 10px;
    transition: 0.2s;
}

.card-btn:hover, .card-btn:active {
    background-color: rgba(226, 136, 0, 0.808);
}

.card-btn span:hover, .card-btn span:active {
    margin-left: 1.5rem;
}
/*
@media only screen and (max-width: 60em) {
    body {
        padding: 3rem;
    }

    .grid {
        grid-gap: 3rem;
    }
}
*/
