@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #edf0f1;
}

.container {
    position: relative;
    width: 1200px;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.container .card {
    width: 100%;
    background: #fff;
}

.container .card .imgBx {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img {
    transform: scale(1.2);
}

.action {
    position: absolute;
    top: 10px;
    right: 10px;
}

.action li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.700);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
}

.action li:hover {
    background: rgba(226, 136, 0, 0.808);
    color: #fff;
}

.action li span {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 6px;
    background: #fff;
    color: #333;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}

.action li:hover span {
    transform: translateY(-50%) translateX(0px);
    opacity: 1;
}

.action li span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -4px;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: translateY(-50%) rotate(45deg);
}

.container .card .content {
    padding: 10px;
}

.container .card .content .productName h3 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
}

.container .card .content .price_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .card .content .price_status h2 {
    font-size: 20px;
    color: rgba(226, 136, 0, 0.808);
    font-weight: 500;
}

.container .card .content .price_status .status{
    font-size: 13px;
    padding: 4px 18px;
    background-color: rgb(233, 170, 54);
    border: none;
    border-radius: 8px;
}

