@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: rgb(250, 250, 227);
	font-family: 'Montserrat' !important;
	position: relative;
	z-index: 1;
}

img {
	max-width: 100%;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

.container-md {
	max-width: 100rem;
	margin: 0 auto;
}

/* *********************** search line ************************* */

.box {
	position: relative;
	top: 20px;
	left: 50%;
	width: 700px;
	transform: translate(-50%, -50%);
}

input {
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	transition: .5s;
	font-family: "Montserrat", sans-serif;
}

input[type="text"] {
	background: #fff;
	width: 500px;
	height: 50px;
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius: 25px 0 0 25px;
	border: solid #253b70;
}

input[type="submit"] {
	position: relative;
	left: -5px;
	border-radius: 0 25px 25px 0;
	width: 150px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #253b70;
	color: #fff;
	font-weight: bold;
}

input[type="submit"]:hover {
	background: #4c6ebb;
}

/* *********************** end search line ************************* */

.title {
	margin-bottom: 15px;
	position: relative;
	text-align: center;
	padding-bottom: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 40px;
}

.title h4::before {
	content: "";
	background: #253b70;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

/*  Categories section  */

.categories {
	background-color: #f4f4f4;
}

.row {
	display: flex;
	justify-content: center;
}

.col-items {
	text-align: center;
}

.col-items p {
	font-weight: bold;
}

.row img {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	margin: 0px 20px 0px 20px;
	object-fit: contain;
	border: 5px solid white;
}

.section-flex {
	margin-bottom: 5em;
	min-height: 34em;
}
