@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

html,
body {
	background-image: url('../img/stars.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 95%;
	font-family: 'Numans', sans-serif;
}

.container {
	height: 100%;
	align-content: center;
}

.card {
	height: 395px;
	margin-top: auto;
	margin-bottom: auto;
	width: 410px;
	background: linear-gradient(44deg, #253b70, transparent) !important;
	border: 2px solid black;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #fc7c7c;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.card-header h3 {
	color: white;
}
.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-text {
	width: 50px;
	background-color: #fc7c7c;
	color: white;
	border: 0 !important;
}
input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.login_btn {
	color: black;
	background-color: #fc7c7c;
	width: 100px;
	margin-top: 0.7em;
	color: white;
}

.login_btn:hover {
	color: #fc7c7c;
	background-color: white;
	font-weight: bold;
	border-color: #fc7c7c;
}
