@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

html,
body {
	background-image: url('../img/stars.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	font-family: 'Numans', sans-serif;
	overflow: hidden;
	position: relative;
}

.container {
	height: 100%;
	align-content: center;
}

.card {
	height: 395px;
	margin-top: auto;
	margin-bottom: auto;
	width: 410px;
	background: linear-gradient(44deg, #253b70, transparent) !important;
	border: 2px solid black;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #fc7c7c;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.card-header h3 {
	color: white;
}
.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-text {
	width: 50px;
	background-color: #fc7c7c;
	color: white;
	border: 0 !important;
}
input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.login_btn {
	color: black;
	background-color: #fc7c7c;
	width: 100px;
	margin-top: 0.7em;
	color: white;
}

.login_btn:hover {
	color: #fc7c7c;
	background-color: white;
	font-weight: bold;
	border-color: #fc7c7c;
}

.info,
.success,
.warning,
.error,
.validation {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.success {
	color: #4f8a10;
	background-color: #dff2bf;
	background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

.validation {
	color: #d63301;
	background-color: #ffccba;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.stars img {
	width: 50px;
	animation: stars 7s linear infinite;
}

.stars {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: -70px;
}

/* animation */
@keyframes stars {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: translateY(95vh);
		opacity: 0;
	}
}

.stars img:nth-child(1) {
	animation-delay: 2s;
	width: 85px;
}
.stars img:nth-child(2) {
	animation-delay: 1s;
}
.stars img:nth-child(3) {
	animation-delay: 3s;
	width: 25px;
}
.stars img:nth-child(4) {
	animation-delay: 4.5s;
}
.stars img:nth-child(5) {
	animation-delay: 3s;
}
.stars img:nth-child(6) {
	animation-delay: 6s;
	width: 20px;
}
.stars img:nth-child(7) {
	animation-delay: 7s;
	width: 35px;
}
/* animation */
