@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
} 

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    color: #edf0f1;
    text-decoration: none;
    font-weight: bold;
}

/* Login Popup start */

.login-popup {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 400px;
    height: 520px;
    background: #f5f5f5;
    z-index: 2;
    opacity: 0;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

body.showLoginForm .popup-overlay {
    display: block;
}

body.showLoginForm .login-popup {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.login-popup .login-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    color: #555;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.login-popup .form .avatar {
    margin: 30px 0px 20px;
    text-align: center;
}

.login-popup .form .avatar img {
    width: 80px;
    border-radius: 50%;
}

.login-popup .form .header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 20px 0px;
}

.login-popup .form .element {
    padding: 8px 20px;
}

.login-popup .form .element label {
    display: block;
    font-size: 14px;
    color: #222;
    margin-bottom: 5px;
}

.login-popup .form .element input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 5px;
}

.login-popup .form .element button {
    margin-top: 30px;
    padding: 10px 0px;
    text-transform: uppercase;
    width: 50%;
}

.btn {
    text-align: center;
}


/* Login Popup end */


/* Register Popup start */

















/* Register Popup start */

header {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(248, 185, 48);
}

.logo {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.navbar {
    margin-top: auto;
    margin-left: 50px;
}

.nav__links {
    list-style: none;
    margin-left: 0px;
}

.nav__buttons {
    list-style: none; 
    margin-left: auto;
    margin-top: auto;
}

.nav__buttons li {
    display: inline-block;
    padding: 0px 5px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}


.nav__links li a:hover {
    color: #aa8213;
}

button{
    padding: 9px 25px;
    background-color: rgb(233, 170, 54);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn.btn-outline-light {
    padding: 6px 25px;
    background-color: rgb(233, 170, 54);
    border: none;
    border-color: #edf0f1;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(226, 136, 0, 0.808);
}


.btn.btn-outline-light:hover{
    background-color: rgba(226, 136, 0, 0.808);
}

.forgotPass {
    cursor: pointer;
    margin-top: 15px;
}

.tooltip-inner {
    background-color: orange !important;
    color: white;
  }

  
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: orange !important;
}