@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
} 

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    color: #edf0f1;
    text-decoration: none;
    font-weight: bold;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(248, 185, 48);
}

.logo {
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.nav__links {
    list-style: none;
    margin-left: 0px;
}

.nav__buttons {
    list-style: none; 
}

.nav__buttons li {
    display: inline-block;
    padding: 0px 5px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}


.nav__links li a:hover {
    color: #aa8213;
}

button{
    padding: 9px 25px;
    background-color: rgb(233, 170, 54);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn.btn-outline-light {
    padding: 6px 25px;
    background-color: rgb(233, 170, 54);
    border: none;
    border-color: #edf0f1;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(226, 136, 0, 0.808);
}


.btn.btn-outline-light:hover{
    background-color: rgba(226, 136, 0, 0.808);
}
