@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat' !important;
}

.header {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(180deg, rgb(113, 198, 219), rgb(250, 250, 227));
	overflow: hidden;
}

.nav {
	padding: 5px;
}

.nav.fix-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(245, 181, 45);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.nav.fix-nav .nav-link-primary,
.nav.fix-nav .nav-link-secondary,
.nav.fix-nav .navigation-logo,
.nav.fix-nav .nav-item-secondary i.bx {
	color: #fff !important;
}

.navigation {
	display: flex;
	align-items: center;
}

.menu-primary {
	margin-left: 6em;
}

.menu-secondary {
	margin-left: 35em;
}

@media only screen and (max-width: 1800px) {
	.menu-primary {
		margin-left: 0em;
	}

	.menu-secondary {
		margin-left: 20em;
	}

	.nav-link-primary,
	.nav-link-primary:visited,
	.nav-list-secondary,
	.nav-list-secondary:visited {
		padding: 0.8rem 1rem;
		transition: all 300ms ease-in-out;
		text-decoration: none;
		color: black;
		font-size: 18px;
	}

	.nav-item-primary,
	.nav-item-secondary {
		margin-right: 3rem;
		list-style-type: none;
		margin-top: 1.5em;
	}
}

.navigation-logo h1 {
	font-size: 2.5rem;
	margin-left: 2em;
	margin-top: .5em;
}

.nav-list-primary,
.nav-list-secondary {
	display: flex;
	align-items: center;
}

.nav-item-primary,
.nav-item-secondary {
	margin-right: 3rem;
	list-style-type: none;
	margin-top: 1.5em;
}

.nav-link-primary,
.nav-link-primary:visited,
.nav-list-secondary,
.nav-list-secondary:visited {
	padding: 0.8rem 1rem;
	transition: all 300ms ease-in-out;
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.nav-link-primary:hover {
	border: 1px solid rgb(0, 0, 0);
}

.nav-link-secondary {
	color: black !important;
}

.login,
.register {
	padding: 0.8rem 1rem;
}

.login:hover,
.register:hover {
	border: 1px solid rgb(0, 0, 0);
}

.nav.fix-nav .login:hover,
.nav.fix-nav .register:hover {
	border: 1px solid white;
}

.nav.fix-nav .nav-link-primary:hover {
	border: 1px solid white;
}

/* *********  Hero **********  */

.header .hero-img {
	position: absolute;
	top: 20%;
	left: 27%;
	height: 50em;
	object-fit: contain;
}

.hero-content {
	position: absolute;
	top: 50%;
	transform: translate(20%, -50%);
}

.hero-content .colored {
	color: #fbb419;
}

.hero-content h1 span {
	color: #253b70;
	font-size: 1.8em;
	display: block;
	line-height: 1;
	text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
}

.hero-btn {
	display: inline-block;
	background-color: #fc7c7c;
	padding: 1em 1.5em;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 3em;
	margin-left: 7em;
	border-radius: 7px;
	border: 5px solid #fc7c7c;
}

.hero-btn:hover {
	background-color: white;
	color: #fc7c7c;
	border: 5px solid #fc7c7c;
	font-weight: 600;
}
