@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat' !important;
}

.Navbar {
	/* Removing the il underline  */
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 1.2em;
	background-color: rgb(248, 185, 48);
	position: sticky;
	top: 0;
	z-index: 10;
}

.Navbar .logo {
	/* Removing the il underline  */
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 1.2em;
	margin: auto;
}

.Navbar .logo span {
	color: white;
}

.Navbar .con {
	display: grid;
	grid-template-columns: 180px auto;
}

.Navbar nav {
	display: flex;
	justify-content: space-between;
	background: none;
	position: unset;
	height: auto;
	width: 100%;
	padding: 0;
}

.Navbar nav ul {
	list-style-type: none;
	display: flex;
	padding: 1.5em 5em .8em 3em;
	margin-bottom: 0 !important;
	margin-top: 1em !important;
}

.Navbar nav li a {
	text-decoration: none;
	font-size: 1em;
	padding: .1em 1em;
	color: white;
}

.Navbar nav ul.primary-nav a {
	font-weight: 500;
}

.Navbar nav ul.primary-nav a:hover {
	font-weight: bold;
	border: 1px solid white;
}

.Navbar nav li.cta a {
	color: white;
	border: 4px solid rgb(235, 175, 80);
	background: rgb(235, 175, 80);
	border-radius: 5em;
	margin-top: -.2em;
	font-weight: 500;
	margin: .2em;
}

.Navbar nav li.cta a:hover {
	font-weight: bold;
	border: 4px solid white;
	background: white;
	color: rgb(235, 175, 80);
}

/*  *******   NEW    ************ */

.header {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(180deg, rgb(250, 206, 110), rgb(250, 250, 227));
	overflow: hidden;
}

.nav {
	padding: 1.6rem 0;
}

.nav.fix-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: orange;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.nav.fix-nav .nav-link-primary,
.nav.fix-nav .nav-link-secondary,
.nav.fix-nav .navigation-logo {
	color: #fff;
}

.navigation {
	display: flex;
	align-items: center;
}

.menu-primary {
	margin-left: 5em;
}

.menu-secondary {
	margin-left: 45em;
}

.navigation-logo h1 {
	font-size: 2.5rem;
}

.nav-list-primary,
.nav-list-secondary {
	display: flex;
	align-items: center;
}

.nav-item-primary,
.nav-item-secondary {
	margin-right: 2rem;
	list-style-type: none;
}

.nav-link-primary,
.nav-link-primary:visited,
.nav-list-secondary,
.nav-list-secondary:visited {
	padding: 0.8rem 1rem;
	transition: all 300ms ease-in-out;
	text-decoration: none;
}

/* *********  Hero **********  */

.header .hero-img {
	position: absolute;
	top: 20%;
	left: 25%;
	height: 50em;
	object-fit: contain;
}

.hero-content {
	position: absolute;
	top: 50%;
	transform: translate(25%, -50%);
}

.hero-content h2 {
	color: rgb(195, 97, 251);
	font-size: 3em;
	margin-bottom: 1em;
}

.hero-content .colored {
	color: #fbb419;
}

.hero-content h1 span {
	color: #253b70;
	font-size: 2.5em;
	display: block;
	line-height: 1;
	text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
}

.btn {
	display: inline-block;
	background-color: #fc7c7c;
	padding: 1.2em 4em;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 3em;
}
