@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat' !important;
}

.Navbar {
	/* Removing the il underline  */
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 1.2em;
	background-color: rgb(248, 185, 48);
}

.Navbar .logo {
	/* Removing the il underline  */
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 1.2em;
	margin: auto;
}

.Navbar .logo span {
	color: white;
}

.Navbar .con {
	display: grid;
	grid-template-columns: 180px auto;
}

.Navbar nav {
	display: flex;
	justify-content: space-between;
	background: none;
	position: unset;
	height: auto;
	width: 100%;
	padding: 0;
}

.Navbar nav ul {
	list-style-type: none;
	display: flex;
	padding: 1.5em 5em .8em 3em;
	margin-bottom: 0 !important;
	margin-top: 1em !important;
}

.Navbar nav li a {
	text-decoration: none;
	font-size: 1em;
	padding: .1em 1em;
	color: white;
}

.Navbar nav ul.primary-nav a {
	font-weight: 500;
}

.Navbar nav ul.primary-nav a:hover {
	font-weight: bold;
	border: 1px solid white;
}

.Navbar nav li.cta a {
	color: white;
	border: 4px solid rgb(235, 175, 80);
	background: rgb(235, 175, 80);
	border-radius: 5em;
	margin-top: -.2em;
	font-weight: 500;
	margin: .2em;
}

.Navbar nav li.cta a:hover {
	font-weight: bold;
	border: 4px solid white;
	background: white;
	color: rgb(235, 175, 80);
}
/* Login Popup start */

.login-popup {
	font-family: "Montserrat", sans-serif;
	position: absolute;
	top: -150%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.15);
	width: 400px;
	height: 520px;
	background: #f5f5f5;
	z-index: 2;
	opacity: 0;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

body.showLoginForm .popup-overlay {
	display: block;
}

body.showLoginForm .login-popup {
	top: 50%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.popup-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.login-popup .login-popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	color: #555;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}

.login-popup .form .avatar {
	margin: 30px 0px 20px;
	text-align: center;
}

.login-popup .form .avatar img {
	width: 80px;
	border-radius: 50%;
}

.login-popup .form .header {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #222;
	margin: 20px 0px;
}

.login-popup .form .element {
	padding: 8px 20px;
}

.login-popup .form .element label {
	display: block;
	font-size: 14px;
	color: #222;
	margin-bottom: 5px;
}

.login-popup .form .element input {
	width: 100%;
	padding: 8px 10px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #aaa;
	background: #eee;
	border-radius: 5px;
}

.login-popup .form .element button {
	margin-top: 30px;
	padding: 10px 0px;
	text-transform: uppercase;
	width: 50%;
}

.btn {
	text-align: center;
}

/* Login Popup end */

/* Register Popup start */

.register-popup {
	font-family: "Montserrat", sans-serif;
	position: absolute;
	top: -150%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.15);
	width: 800px;
	height: 570px;
	background: #f5f5f5;
	z-index: 2;
	opacity: 0;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

body.showRegisterForm .popup-overlay {
	display: block;
}

body.showRegisterForm .register-popup {
	top: 50%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.register-popup .register-popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	color: #555;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}

.register-popup .regForm .regAvatar {
	margin: 30px 0px 20px;
	text-align: center;
}

.register-popup .regForm .regAvatar img {
	width: 70px;
	border-radius: 50%;
	margin-left: 15px;
}

.register-popup .regForm .regHeader {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #222;
	margin: 20px 0px;
	width: 80%;
	align-self: center;
}

.register-popup .regForm .regElement {
	padding: 8px 20px;
}

.register-popup .regForm .regElement label {
	display: block;
	font-size: 14px;
	color: #222;
	margin-bottom: 4px;
}

.register-popup .regForm .regElement input {
	width: 100%;
	padding: 8px 10px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #aaa;
	background: #eee;
	border-radius: 5px;
}

.register-popup .regForm .regElement button {
	margin-top: 30px;
	padding: 10px 0px;
	text-transform: uppercase;
	width: 50%;
}

/* Register Popup end */
