@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fffafa;
}

.productPageContainer {
	font-family: "Montserrat", sans-serif;
}

/*  Pictures style - start  */

.small-container {
	max-width: 1000px;
	margin: auto;
	padding-left: 25px;
	padding-right: 20px;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.single-product {
	margin-top: 60px;
	margin-bottom: 80px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px 50px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.small-img-row {
	display: flex;
	justify-content: left;
	margin-top: 20px;
}

.col-2 img {
	/*max-width: 100%;*/
	max-width: 410px;
	padding: 50px 0;
	max-height: 400px;
}

.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 10%), 0 -1px 10px 0 rgb(0 0 0 / 10%);
	margin: 5px;
}

.big-img {
	height: 400px;
}

.single-product .col-2 img {
	padding: 0;
}

.single-product .col-2 {
	padding: 20px;
	align-self: flex-start;
}

/*  Pictures style - end  */

/*  Details style - start  */

.col-2 {
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 h1 {
	font-size: 40px;
	line-height: 50px;
	margin: 20px 0;
}

.single-product h4 {
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}

.title{
	margin-left: 14.5%;
}

.single-product h5 {
	line-height: 1.5rem;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #555;
}

.wishlist{
	color: white;
}

.single-product .fa {
	color: #253b70;
	margin-left: 10px;
}

.prodDetails,
.sellerDetails {
	color: #555;
}

.btn {
	display: inline-block;
	background-color: #253B70;
	color: #edf0f1 !important;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 10px;
	transition: background 0.5s;
}

.btn:hover {
	background: #3657a5;
	cursor: pointer;
}

.seller {
	display: flex;
	margin-bottom: 30px;
}

.whatsappIcon {
	text-align: right;
	width: 200px;
	margin-top: 60px;
}

.whatsappIcon .whatsapp {
	font-size: 40px;
	font-weight: bolder;
}

.tooltip-inner {
	background-color: orange !important;
	color: white;
}

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
	border-bottom-color: orange !important;
}

.map {
	display: block;
	margin-bottom: 30px;
	width: 460px;
	height: 300px;
	cursor: pointer;
}
.resp-container {
	position: relative;
	overflow: hidden;
	padding-top: 58.25%;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

/*  Details style - end  */
