@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(245, 240, 176);
    
}

.productPageContainer {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
}

/*  Pictures style - start  */

.small-container {
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.single-product {
    margin-top: 60px;
    margin-bottom: 80px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 50px;
    
}

.small-img-row {
    display: flex;
    justify-content: space-around;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

/*  Pictures style - end  */

/*  Details style - start  */

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product h5 {
    margin: 3px 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #555;
}

.single-product .fa {
    color: rgb(248, 185, 48);
    margin-left: 10px;
}

.prodDetails, .sellerDetails {
    color: #555;
}

.btn {
    display: inline-block;
    background-color: rgb(248, 185, 48);
    color: #edf0f1;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    transition: background 0.5s;
}

.btn:hover {
    background: rgba(226, 136, 0, 0.808);
}

.seller {
    display: flex;
    margin-bottom: 30px;
}

.whatsappIcon {
    text-align: right;
    width: 200px;
    margin-top: 60px;
}

.whatsappIcon .whatsapp {
    font-size: 40px;
    font-weight: bolder;
}

.tooltip-inner {
    background-color: orange !important;
    color: white;
  }

  
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: orange !important;
}

.map {
    display: block;
    margin-bottom: 30px;
    width: 460px;
    height: 300px;
    cursor: pointer;
    
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:1px solid black;
}

/*  Details style - end  */

