@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background-image: url('../img/wooden.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}

.form-control:focus {
	border-color: #5cb85c;
}

.form-control,
.btn {
	border-radius: 3px;
}

.signup-form {
	width: 580px;
	padding: 30px 0;
	margin-left: 25em;
	margin-top: 2em;
}

.row {
	justify-content: space-evenly;
	margin-bottom: 20px;
}

/* "Register" style  */
.signup-form h2 {
	color: #f8b930;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}

/* lines before and after the "Register"  */
.signup-form h2:before,
.signup-form h2:after {
	content: "";
	height: 2px;
	width: 35%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}

.signup-form h2:before {
	left: 0;
}

.signup-form h2:after {
	right: 0;
}

.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}

.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 8px 10px 5px 10px;
}

.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
	margin-top: 3px;
}

.checkboxes {
	text-align: center;
	margin-bottom: 20px;
}

.checkboxes input {
	margin: 0px 0px 0px 0px;
}

.checkboxes label {
	margin: 0px 20px 0px 0px;
}

.create_account {
	font-size: 20px;
	width: 100%;
	border-radius: 5px;
	background-color: rgb(118, 124, 128);
	color: white;
	padding: .2em;
	margin-top: .5em;
	margin-bottom: 0;
}

.create_account:hover {
	background-color: rgb(240, 181, 20);
	cursor: pointer;
	transition: 0.5s;
}

.info,
.success,
.warning,
.error,
.validation {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.success {
	color: #4f8a10;
	background-color: #dff2bf;
	background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

.validation {
	color: #d63301;
	background-color: #ffccba;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}
