@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background-color: #ebede8;
	background-size: cover;
	background-repeat: no-repeat;
}

.form-control {
	height: 30px;
	box-shadow: none;
	color: #969fa4;
	font-size: 15px !important;
}

.form-control:focus {
	border-color: #253b70;
}

.form-control,
.btn {
	border-radius: 3px;
}

.signup-form {
	width: 580px;
	padding: 30px 0;
	margin-left: 25em;
	margin-top: 2em;
	/*
	animation: movedown 1s linear 1;
	animation-delay: 0.5s;
	visibility: hidden;
	animation-fill-mode: forwards;
	*/
}

/* animation */
@keyframes movedown {
	0% {
		transform: translateY(-100px);
		visibility: visible;
	}
	100% {
		transform: translateY(0px);
		visibility: visible;
	}
}

.row {
	justify-content: space-evenly;
	margin-bottom: 20px;
}

/* "Register" style  */
.signup-form h2 {
	color: #fc7c7c;
	margin: 0 0 5px;
	position: relative;
	text-align: center;
}

/* lines before and after the "Register"  */
.signup-form h2:before,
.signup-form h2:after {
	content: "";
	height: 2px;
	width: 28%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}

.signup-form h2:before {
	left: 0;
}

.signup-form h2:after {
	right: 0;
}

.signup-form .hint-text {
	color: #999;
	margin-bottom: 10px;
	text-align: center;
}

.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 0px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 8px 10px 5px 10px;
}

.signup-form .form-group {
	margin-bottom: 12px;
}

.signup-form input[type="checkbox"] {
	margin-top: 3px;
}

.checkboxes {
	text-align: center;
	margin-bottom: 2px;
}

.checkboxes input {
	margin: 0px 0px 0px 0px;
}

.checkboxes label {
	margin: 0px 20px 0px 0px;
}

.create_account {
	font-size: 20px;
	width: 100%;
	border-radius: 5px;
	background-color: rgb(118, 124, 128);
	color: white;
	padding: .2em;
	margin-top: .5em;
	margin-bottom: 0;
}

.create_account:hover {
	background-color: #fc7c7c;
	cursor: pointer;
	transition: 0.5s;
	color: white;
	border-color: #fc7c7c;
}

.info,
.success,
.warning,
.error,
.validation {
	border: 1px solid;
	margin: 6px 0px;
	padding: 5px 10px 5px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.success {
	color: #4f8a10;
	background-color: #dff2bf;
	background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

.validation {
	color: #d63301;
	background-color: #ffccba;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
	font-size: 15px !important;
}

.teddy-bear {
	position: absolute;
	right: 15%;
	top: 26%;
	height: 560px;
	width: 555px;
	transform: translate(120%, 0%);
}

@media only screen and (max-width: 1800px) {
	.signup-form {
		width: 580px;
		padding: 20px 0;
		margin-left: 10%;
		margin-top: 0px;
	}

	.teddy-bear {
		position: absolute;
		right: 47%;
		top: 22%;
		height: 480px;
		width: 420px;
		transform: translate(120%, 0%);
	}

	.c1,
	.c2,
	.c3,
	.c4,
	.c5,
	.c6,
	.c7,
	.c8,
	.c9,
	.c10,
	.c11,
	.c12,
	.c13,
	.c14,
	.c15 {
		fill-opacity: 0;
		fill: rgb(240, 200, 168);
		stroke: #253b70;
		stroke-width: 3px;
		stroke-dashoffset: 0;
		stroke-dasharray: 2000;
	}
	.c1 {
		animation: c1 6s ease-in-out;
	}
	@keyframes c1 {
		0% {
			stroke-dashoffset: 2000;
		}

		100% {
			stroke-dashoffset: 0;
		}
	}
	.c2 {
		animation: c2 6s ease-in-out;
	}
	@keyframes c2 {
		0% {
			stroke-dashoffset: 2000;
		}

		100% {
			stroke-dashoffset: 0;
		}
	}
	.c3 {
		animation: c3 6s ease-in-out;
	}
	@keyframes c3 {
		0% {
			stroke-dashoffset: 2000;
		}

		100% {
			stroke-dashoffset: 0;
		}
	}

	.c4 {
		animation: c4 5s ease-in-out;
	}
	@keyframes c4 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c5 {
		animation: c5 5s ease-in-out;
	}
	@keyframes c5 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c6 {
		animation: c6 5s ease-in-out;
	}
	@keyframes c6 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c7 {
		animation: c7 5s ease-in-out;
	}
	@keyframes c7 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c8 {
		animation: c8 6s ease-in-out;
	}
	@keyframes c8 {
		0% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c9 {
		animation: c9 6s ease-in-out;
	}
	@keyframes c9 {
		0% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c10 {
		animation: c10 6.5s ease-in-out;
	}
	@keyframes c10 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c11 {
		animation: c11 6.5s ease-in-out;
	}
	@keyframes c11 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c12 {
		animation: c12 6s ease-in-out;
	}
	@keyframes c12 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		75% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c13 {
		animation: c13 6s ease-in-out;
	}
	@keyframes c13 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		75% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c14 {
		animation: c14 6s ease-in-out;
	}
	@keyframes c14 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		75% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
	.c15 {
		animation: c15 6s ease-in-out;
	}
	@keyframes c15 {
		0% {
			stroke-dashoffset: 2000;
		}
		50% {
			stroke-dashoffset: 2000;
		}
		75% {
			stroke-dashoffset: 2000;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
}

@media only screen and (max-width: 1480px) {
	.signup-form {
		width: 580px;
		padding: 30px 0;
		margin-left: 10%;
		margin-top: 3%;
	}

	.teddy-bear {
		position: absolute;
		right: 6%;
		top: 21%;
		height: 470px;
		width: 430px;
		transform: translate(115%, 0%);
	}
}

@media only screen and (max-width: 1375px) {
	.signup-form {
		width: 580px;
		padding: 30px 0;
		margin-left: 2%;
		margin-top: 1%;
	}

	.teddy-bear {
		position: absolute;
		right: 6%;
		top: 21%;
		height: 470px;
		width: 430px;
		transform: translate(115%, 0%);
	}
}

@media only screen and (max-width: 1104px) {
	.signup-form {
		width: 580px;
		padding: 30px 0;
		margin-left: 6%;
		margin-top: 3%;
	}

	.teddy-bear {
		position: absolute;
		right: 13%;
		top: 21%;
		height: 470px;
		width: 430px;
		display: none;
	}
}
