body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

html,
body {
	height: 100%;
}

.myproducts-page {
	margin: 80px auto;
	width: 90%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.product-info {
	display: flex;
	flex-wrap: wrap;
}

.product-info p {
	margin-bottom: 0 !important;
	margin-top: 28px;
}

th {
	text-align: left;
	padding: 5px;
	color: #253b70;
	border-bottom: 1px solid gray;
	font-weight: normal;
}

td {
	padding: 10px 5px;
}

td img {
	width: 90px;
	height: 90px;
	margin-right: 10px;
}

.delete {
	margin-top: 10px;
}

.delete button {
	background: none;
	border: none;
	cursor: pointer;
	color: gray;
	font-size: 32px;
}

.myproducts-page .header_myproducts {
	text-align: center;
	margin-bottom: 40px;
}

.header_myproducts span {
	font-size: 2.5em;
	color: #cccccc;
}

.edit_data {
	border-radius: 5px;
	padding: 5px;
	background: white;
	color: #253b70;
	border: 1px solid #253b70;
}
.edit_data:hover {
	border-radius: 5px;
	padding: 5px;
	background: #253b70;
	color: white;
	border: 1px solid whitesmoke;
	cursor: pointer;
	transition: 0.5s;
	font-weight: bold;
}
