body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

html,
body {
	height: 100%;
}

.wishlist-page {
	margin: 80px auto;
	width: 70%;
	padding-bottom: 100px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.wishlist-info {
	display: flex;
	flex-wrap: wrap;
}

.wishlist-info p {
	margin-bottom: 0 !important;
}

th {
	text-align: left;
	padding: 5px;
	color: #253b70;
	font-weight: normal;
	border-bottom: 1px solid gray;
}

td {
	padding: 10px 5px;
}

td img {
	width: 90px;
	height: 90px;
	margin-right: 10px;
}

.delete {
	margin-top: 10px;
}

.delete button {
	background: none;
	border: none;
	cursor: pointer;
	color: red;
}

td button.view_data {
	border-radius: 5px;
	padding: 5px;
	background: white;
	color: #253b70;
	border: 1px solid #253b70;
}

td button.view_data:hover {
	border-radius: 5px;
	padding: 5px;
	background: #253b70;
	color: white;
	border: 1px solid whitesmoke;
	cursor: pointer;
	transition: 0.5s;
	font-weight: bold;
}

td a.goto {
	text-decoration: none;
	border-radius: 5px;
	padding: 5px;
	background: white;
	color: #253b70;
	border: 1px solid #253b70;
}

td a.goto:hover {
	text-decoration: none;
	color: white;
	background: #253b70;
	color: white;
	border: 1px solid #253b70;
	cursor: pointer;
	transition: 0.5s;
	font-weight: bold;
}

.header_wishlist {
	text-align: center;
	margin-bottom: 40px;
}

.header_wishlist span {
	font-size: 2.5em;
	color: #cccccc;
}
